<li>
  <a class="flex items-start justify-start gap-2 p-2 px-5 transition-colors duration-300 text-slate-500 hover:bg-emerald-50 hover:text-emerald-500 focus:bg-emerald-50 focus:text-emerald-600 focus:outline-none focus-visible:outline-none" href="<%=href %>">
        <span class="flex flex-col gap-1 overflow-hidden whitespace-nowrap">
          <span class="leading-5 truncate"><%=name %></span>
        </span>
  </a>
</li>