<li class="flex items-center gap-4 px-4 py-3">
  <div class="flex flex-col gap-0 min-h-[2rem] items-start justify-center w-full min-w-0 overflow-hidden">
    <h4 class="w-full text-base truncate text-slate-700"><%= tool.name %></h4>
    <p class="w-full text-sm truncate text-slate-500"><%= tool.description %></p>
  </div>

  <!-- Component: Basic dropdown menu -->
  <div data-controller="toggle"  data-toggle-hidden-class="hidden"  class="relative inline-flex ">
    <!--  Start Dropdown trigger -->
    <button  data-action="click->toggle#toggleClass" class="flex items-center justify-center w-6 h-6 text-xs transition-colors text-slate-500 hover:text-emerald-500">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
      </svg>
      <span class="sr-only">user options</span>
    </button>

    <!--  End Dropdown trigger -->
    <!-- Start Menu list -->
    <ul data-toggle-target="element" class="hidden absolute z-20 flex flex-col py-2 mt-1 list-none bg-white rounded shadow-md w-72 top-full shadow-slate-500/10">
      <%= render partial: "tools/menu_item", locals: {name: "Edit", href:edit_tool_path(tool)} %>
      <%= render partial: "tools/menu_item", locals: {name: "Delete", href:edit_tool_path(tool)} %>
    </ul>
    <!-- End Menu list -->
  </div>
  <!-- End Basic dropdown menu-->
</li>