<main class="container">
  <%= link_to sanitize("&larr; Back to tools"), tools_path(@tool), class:"btn-link" %>

  <div class="header">
    <h1>Edit Tool</h1>
  </div>

  <%= render "form", tool: @tool %>
</main>