<div class="w-full flex flex-col items-center">


  <div class="title-bar">
    <%= link_to sanitize("&larr; Back to tools"), tools_path(@tool), class:"btn-link" %>
    <h1>Edit Tool</h1>
  </div>

  <%= render "form", tool: @tool %>
</div>