

<!--    <h1>Tools</h1>-->
    <%= link_to "New Tool", new_tool_path %>
  </div>
  <%= render @tools %>



<!--<ul>-->
  <%# @tools.each do |tool| %>
<!--    <li><%#= tool.name %>: <%#= tool.description %></li>-->
  <%# end %>
<!--</ul>-->
