<div class="w-full overflow-x-auto mt-10">
  <table class="w-full text-left border border-collapse rounded sm:border-separate border-slate-200" cellspacing="0">
    <tbody>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
    </tr>
    <% users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>